.sidebar {
	height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    right: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: #DDD;
    margin-left: 80%;
}

.sidebar-element {
	margin-top: 10px;
	margin-bottom: 10px;
}